<main class="h-full w-full flex flex-col lg:flex-row justify-center items-center p-4">
  <!-- First column -->
  <div class="flex-1 flex justify-center lg:justify-start items-center p-4">
    <div
      class="relative overflow-hidden flex justify-center items-center bg-[#F7931E] lg:w-[85%] lg:h-auto size-36 
      rounded-[60px] lg:rounded-r-[130px] lg:rounded-l-[0px]"
    >
      <img
        src="/senior.webp"
        alt="Imagen centrada"
        class="max-w-full max-h-full object-contain"
      />
    </div>
  </div>

  <!-- Second column -->
  <div class="flex-1 flex justify-center items-center p-4">
    <div class="w-full h-[80%] flex flex-col space-y-4">
      <!-- Título -->
      <div class="flex-1 flex justify-center lg:justify-start">
        <div class="flex items-end space-x-2">
          <p class="text-2xl lg:text-3xl font-semibold">Con</p>
          <p class="text-4xl lg:text-5xl font-semibold">SECUREIOT</p>
        </div>
      </div>

      <!-- Contenido 1 -->
      <div class="flex-1 flex items-center space-x-2">
        <div class="h-14 w-5 bg-[#F7931E] flex-shrink-0"></div>
        <p class="px-4 w-full text-base lg:text-lg">
          Controla la iluminación de tu hogar, encendiendo y apagando las luces al instante.
        </p>
      </div>

      <!-- Contenido 2 -->
      <div class="flex-1 flex items-center space-x-2">
        <div class="h-14 w-5 bg-[#F7931E] flex-shrink-0"></div>
        <p class="px-4 w-full text-base lg:text-lg">
            Activa alarmas y cierra puertas automáticamente para asegurar tu
            casa con solo un toque.
          </p>
      </div>

      <!-- Contenido 3 -->
      <div class="flex-1 flex items-center space-x-2">
        <div class="h-14 w-5 bg-[#F7931E] flex-shrink-0"></div>
        <p class="px-4 w-full text-base lg:text-lg">
            Consulta el registro de todas las actividades de tu hogar en tiempo
            real, estés donde estés.
          </p>
      </div>
    </div>
  </div>

  <!-- Third column -->
  <div class="flex-1 flex justify-center items-center h-full w-full p-4">
    <app-login />
  </div>

  
</main>
