<section class="w-full h-full flex items-center justify-center flex-col lg:flex-row">
  <div class="w-full h-[400px] lg:w-[35%] lg:h-full flex flex-col items-center justify-center">
    @for (ctrl of control; track $index) {

    <div
      class="space-y-3 w-56 h-[40%] items-center justify-center flex flex-col p-4 rounded-[30px]"
    >
      <div class="flex flex-col text-center">
        <p class="text-lg font-semibold">{{ ctrl.name }}</p>
        <p
          class="text-sm font-bold"
          [ngClass]="{
            'text-[#F7931E]': !ctrl.status,
            'text-green-500': ctrl.status
          }"
        >
          {{ ctrl.status ? "(Activado)" : "(Desactivado)" }}
        </p>
      </div>

      <button
        (click)="toggleControlStatus(ctrl)"
        class="w-full py-3 rounded-[20px] flex justify-center items-center bg-black text-white shadow hover:shadow-xl duration-300 space-x-2"
      >
        <p class="font-semibold">
          {{ ctrl.status ? "Desactivar" : "Activar" }}
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          @if (!ctrl.status) {
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
          />
          } @else {
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z"
          />

          }
        </svg>
      </button>
    </div>
    }

    <div
      class="space-y-3 h-[60%] w-full flex flex-col items-center justify-center p-4"
    >
      <div class="w-[325px] h-[245px] border-2 border-gray-950 flex items-center justify-center">
        <!-- @if (!isLoading) {
        <svg
          class="animate-spin h-5 w-5 text-black"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        } @else if (isLoading) { -->

        <img
          src="https://secureiot.espcam32.ngrok.app/stream"
          crossorigin="anonymous"
          alt="Cargando..."
        />
        <!-- } -->
      </div>
    </div>
  </div>
  <div
    class="w-[95%] h-full lg:w-[65%] lg:h-full flex items-center justify-center flex-col p-10 space-y-3"
  >
    <p class="text-xl font-semibold">Registro Inteligente</p>
    <div class="h-96 w-full bg-[#F5F5F5] rounded-lg">
      <!-- Contenedor fijo -->
      <div class="px-4 pt-4 border-gray-300">
        <p class="font-semibold">{{ today }}</p>
      </div>

      <!-- Contenedor con scroll -->
      <div class="pr-4 pl-4 pb-4 overflow-y-auto h-[calc(100%-4rem)]" #logContainer>
        <!-- Aquí irían las entradas del registro -->

        @for (log of logs; track $index) {
        <p class="text-sm">
          -> {{ log.timestamp }} ({{ log.category }} - {{ log.location }}):
          {{ log.action }}
        </p>
        }
      </div>
    </div>
  </div>
</section>
